---
import LeftPanel from "./LeftPanel.astro"
import { Image, Picture } from '@astrojs/image/components';
const remoteImage = "https://raw.githubusercontent.com/contour-terminal/contour/4f565357720915402aca5ca63ca1fa812ed4741f/docs/screenshots/contour-notcurses-ncneofetch.png";
---

<div id="landing-screen" class="bg-slate-900">
  <div
    class="min-h-screen flex flex-row items-center"
  >
    <div class="basis-1/4 mx-5 w-30 ">
      <LeftPanel />
      </div>
    <div class = "mx-20">
      <h1
        class="text-7xl text-left font-bold"
      >
        Contour
      </h1>
      <p class="text-2xl">
        is a modern and actually fast, modal, virtual terminal emulator, for everyday use. <br>
        It is aiming for power users with a modern feature mindset.
      </p>

      <!--For remote images, the desired dimensions and format are required-->
      <Image src={remoteImage} width={1300} aspectRatio="16:7" format="png" alt="" />

    </div>
    <div></div>

  </div>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
    is:inline
    defer
    ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"
    is:inline
    defer
  ></script>

  <script>
   addEventListener("DOMContentLoaded", (event) => {
     VANTA.NET({
       el: "#landing-screen",
       mouseControls: true,
       touchControls: true,
       gyroControls: false,
       minHeight: 200.00,
       minWidth: 200.00,
       scale: 1.00,
       scaleMobile: 1.00,
       color: 0x8085d1,
       backgroundColor: 0xfcfcfc,
       points: 20.00,
       maxDistance: 25.00,
       spacing: 19.00
     })
   });

  </script>
  </script>
  <style>
   img, picture :global(img), svg {
     margin-block: 1.0rem;
     border-radius: 0.5rem;
   }
  </style>
